<h2>Crear producto</h2>

<div class="box">
      {{!-- <form action="api/productos/guardar" method="POST" > --}}
        <h2>Ingresar producto</h2>
        <div class="form-group">
            <label for="title">Titulo</label>
            <input id ="title" class="form-control" name="title" type="text" />
        </div>
        <div class="form-group">
            <label for="price">precio</label>
            <input id ="price" class="form-control"  name="price" type="text" />
        </div>
        <div class="form-group">
            <label for="thumbnail">thumbnail</label>
            <input id ="thumbnail" class="form-control"  name="thumbnail" type="text" />
        </div>
        <button id="addList" class="btn btn-success"  >Enviar</button>
      {{!-- </form> --}}
    </div>

     <div id="table">
        
     </div>